%h1= 'Add a new issue'
  
%form{:action => "/addIssue", :id => 'newissue', :method => "post"}
  Name 
  %input{:type => "text", :name => "name"}
  %br
  Issue Number
  %input{:type => "text", :name => "issuenumber"}
  %br
  Publisher
  %select{:name => "publisherid"}
    - @publishers.each do |p|
      %option{:value => "#{p['id']}"}#{p['name']}
  %br
  %input{:type => "submit"}