%h1 Longbox
%ul
  %li 
    %a{:href => "/titles"} Titles
  %li 
    %a{:href => "/publishers"} Publishers
  %li 
    %a{:href => "/addIssue"} Add Issue
  %li
    %a{:href => "/addPublisher"} Add Publisher