!!!
%html
  %head
    %title Longbox
    %style * {font-family: 'Lucidia Grand', Helvetica, sans-serif;padding:10px;margin:0px;} h1 {font-size:100px;} a.action {font-size:10px;}
  %body
    %a.action{:href => "/"} Home
    %a.action{:href => "/titles"} All Titles
    %a.action{:href => "/publishers"} All Publishers
  = yield