%a.action{:href => "/"} Home
>
%a.action{:href => "/publishers"} All Publishers

%h1= "Titles from #{params[:name]}" 
- @titles.each do |t|
  %p
    %a{:href => "http://localhost:4567/title/#{t['title']}"} #{t['title']}

